@media screen and (min-width:996px){
    .container{
        font-family:NanumGothic;
    }
    .logo{
        margin-top:7%;
        margin-left:30%;
    }
    .checkbox ul{
        list-style-type: none;
        margin-left:30.5%;
        margin-top:-3%;
    }
    .login_tab{
        height:300px;
        margin-top:5%;
    }
    .error{
        color:red;
        font-weight:bold;
        margin-left:34.5%;
        margin-top:-3%;
    }
    .login_text p{
        color:rgb(121,108,94);
        font-weight:bold;
        margin-left:10%;
        font-size:20pt;
        margin-top:-2.5%;
    }
    .real_login{
        height:230px;
        margin-left:27.5%;
        margin-top:4%;
    }
    .login_assignment{
        height:230px;
        margin-left:27.5%;
        margin-top:4%;
    }
    form{
        margin-left:-3%;
    }
    .real_login ul{
        list-style:none;  
        }

    .real_login li {
        margin:25px;
        padding-left:3%;
        }
    .login_assignment ul{
        list-style: none;
    }
    .login_assignment li{
        margin:25px;
        padding-left:1%;
    }
    li label {   
        width:70px;   
        float:left;  
        font-size:14px;  
        font-weight:bold;  
        line-height:25px;  
        margin-left:3%;
        }
    .login_assignment li label{
        width:100px;   
        float:left;  
        font-size:14px;  
        font-weight:bold;  
        line-height:25px;  
        margin-left:3%;
    }
    #id,#pw{
        width:38%;
        height:20px;
    }    

    #login_button{
        margin-left:18.5%;
        margin-top:5%;

    }
    .footer{
        font-family:NanumGothic;
        font-size:13px;
        margin-left:38%;
        margin-top:-1%;
    }
    #pw1,#pw2{
        width:38%;
        height:20px;
        margin-left:0%;
    } 

}