<!doctype hml>
<html lang="ko">

{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>소프트웨어학부 복지사업</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static "img/upper-logo.png" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Lato:400,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Main Stylesheet File -->
    <link href="{% static "css/style_global.css" %}" rel="stylesheet">
    <link href="css/404.css" rel="stylesheet">

    <link href="{% static "css/change_pw.css" %}" rel="stylesheet">
    <link href="{% static "css/checkbox.css" %}" rel="stylesheet">
    <link href="{% static "css/home.css" %}" rel="stylesheet">
    <link href="{% static "css/login.css" %}" rel="stylesheet">
    <link href="{% static "css/login_agreement.css" %}" rel="stylesheet">
    <link href="{% static "css/mypage.css" %}" rel="stylesheet">
    <link href="{% static "css/place_reservation.css" %}" rel="stylesheet">
</head>

<body>
    <div class="container mtb">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered" style="margin-top:10%;">
                <i class="fas fa-exclamation-triangle fa-10x"></i>
                <h2>4<i class="far fa-surprise"></i>4.</h2>
                <h4>Page not found</h4>
                <br>
                <a href="/"><input type="submit" class="btn btn-theme btn-block" id="complain_button" value="홈으로 돌아가기"
                style="font-weight:bold;font-size:20px;"></input></a>
            </div>
        </div>
    </div>


</body>

<style>
    .centered {
        text-align: center
    }

    .hline {
        border-bottom: 2px solid #384452;
    }

    .btn-theme {
        color: #fff;
        background-color: #384452;
        border-color: #384452;
        margin: 4px;
    }
</style>

</html>