<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>소프트웨어학부 복지사업</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Favicons -->
  <link rel="shortcut icon" href="img/upper-logo.png">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Lato:400,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/prettyphoto/css/prettyphoto.css" rel="stylesheet">
  <link href="lib/hover/hoverex-all.css" rel="stylesheet">

  <!-- Materialize -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  <!-- Main Stylesheet File -->
  <link href="css/style_global.css" rel="stylesheet">

  <link href="css/place_reservation.css" rel="stylesheet">
  

  <!-- Checkbox Css-->
  <link rel="stylesheet" type="text/css" href="css/checkbox.css">

  <!-- =======================================================
    Template Name: Solid
    Template URL: https://templatemag.com/solid-bootstrap-business-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->



  <!-- 수정한 스크립트 !!! 기존꺼 대체 바람 
  그리고 헤더 부분에 mypage하고 똑같이 <meta content="~~~" name="csrf_token"> 넣어주세요
  -->
  <script>
    var userTimecnt = 0;
    var userTable=(window.location.search.split("table=")[1]=="")?-1:window.location.search.split("table=")[1];
    $(document).ready(function(){
      for(i=0;i<$('.OBJcbTime').length;i++){
        if(document.getElementsByClassName("OBJcbTime")[i].getAttribute("state")=="1" || document.getElementsByClassName("OBJcbTime")[i].getAttribute("state")=="-1" ){
          userTimecnt++;
        }
      }
      $('.OBJcbTime').click( function () {
        if (this.getAttribute("state")=="1") {
          userTimecnt--;
          this.setAttribute("state","0");
        }
        else if(this.getAttribute("state")=="0"){
          if (userTimecnt >= 4) {
            alert("최대 4시간까지 예약 가능합니다.");
            return false;
          }
          userTimecnt++;
          this.setAttribute("state","1");
        }
      });
    });

    function applyReservation(){
      if(userTable==-1){
        alert('테이블을 선택해주세요');
        return false;
      }
      var postdata="tableNum="+userTable;
      var postcnt=0;
      var time_array=["10","11","12","13","14","15","16","17"];
      for(i=0;i<$('.OBJcbTime').length;i++){
        if(document.getElementsByClassName("OBJcbTime")[i].getAttribute("state")=="1"){
          postdata += "&time["+ postcnt++ + "]=" + time_array[i];
        }
      }
      if (window.XMLHttpRequest)
        xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            location.reload();
          }
      };
      xmlhttp.open("POST","/place_reservation");
      xmlhttp.setRequestHeader("Content-Type",'application/x-www-form-urlencoded');
      //xmlhttp.setRequestHeader("X-CSRFToken",document.getElementsByName("csrf_token")[0].getAttribute("content"));
      xmlhttp.send(postdata);
      alert(postdata);
    }
  </script>

</head>

<body>

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home.html">SUPPORT.</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="home.html">홈</a></li>
          <li><a href="login.html">로그인</a></li>
          <li class="active"><a href="place_reservation.html">실습실 예약</a></li>
          <li><a href="mypage.html">마이페이지</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
  <div id="blue">
    <div class="container">
      <div class="row">
        <h3>실습실 예약</h3>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /blue -->

  <div class="container mtb">
    <div class="time_check">
      <select id="class">
        <option value="monday" selected>2019-03-10</option>
        <option value="tuesday">2019-03-11</option>
        <option value="wednesday">2019-03-12</option>
        <option value="thursday">2019-03-13</option>
        <option value="friday">2019-03-14</option>
      </select>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-12">
        <h1>자리배치도</h1>
        <div class="hline"></div>
        <div class="table_container">
          <div class="upper_table">
          <!-- 태그 많이 수정됨 
          적용 바람@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@22
          2@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2-->
            <div id="table_set" class="table_set1">
              <div id="reg" class="table1">
                <a><img class="img_table img_table1" id="table1" src="img/desk1.png"
                    onclick="setUserTable(1);"></a>
              </div>
              <div id="reg" class="table2">
                <a><img class="img_table img_table2" id="table2" src="img/desk2.png"
                    onclick="setUserTable(2);"></a>
              </div>
            </div>
            <div id="table_set" class="table_set2">
              <div id="reg" class="table3">
                <a><img class="img_table img_table3" id="table3" src="img/desk3.png"
                    onclick="setUserTable(3);"></a>
              </div>
              <div id="reg" class="table4">
                <a><img class="img_table img_table4" id="table4" src="img/desk4.png"
                    onclick="setUserTable(4);"></a>
              </div>
            </div>
            <div id="table_set" class="table_set3">
              <div id="reg" class="table5">
                <a><img class="img_table img_table5" id="table5" src="img/desk5.png"
                    onclick="setUserTable(5);"></a>
              </div>
              <div id="reg" class="table6">
                <a><img class="img_table img_table6" id="table6" src="img/desk6.png"
                    onclick="setUserTable(6);"></a>
              </div>
            </div>
          </div>
          <div class="lower_table">
            <div id="table_set" class="table_set4">
              <div id="reg" class="table7">
                <a><img class="img_table img_table7" id="table7" src="img/desk7.png"
                    onclick="setUserTable(7);"></a>
              </div>
              <div id="reg" class="table8">
                <a><img class="img_table img_table8" id="table8" src="img/desk8.png"
                    onclick="setUserTable(8);"></a>
              </div>
            </div>

            <div id="table_set" class="table_set5">
              <div id="reg" class="table9">
                <a><img class="img_table img_table9" id="table9" src="img/desk9.png"
                    onclick="setUserTable(9);"></a>
              </div>
            </div>
            <div id="reg" class="table10">
              <a><img class="img_table img_table10" id="table10" src="img/desk10.png"
                  onclick="setUserTable(10);"></a>
            </div>
            <div class="door">
              <p>D O O R</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h1>예약 가능 시간</h1>
        <div class="hline"></div>
        <div class="place_time_check">
          <div class="ikc-tablelist-listup ikc-smuf-form">
            <p>
              <span class="ikc-reserved-status">
                <span class="ikc-reserved-off" id="off"></span>
                예약 가능
                <span class="ikc-reserved-inactive"></span>
                예약 불가능
                <span class="ikc-reserved-active"></span>
                예약 선택
              </span>
            </p>
          </div>
          <form action="" method="POST">
            <table class="table" cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <th>10</th>
                  <th>11</th>
                  <th>12</th>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="cbTime0" class="OBJcbTime" state="-1"></td> <!-- 0: 아무도 점유 없음  -->
                  <td id="cbTime1" class="OBJcbTime" state="0"></td> <!-- 1: 내가 점유 -->
                  <td id="cbTime2" class="OBJcbTime" state="0"></td> <!-- 2: 다른 사람 점유 -->
                  <td id="cbTime3" class="OBJcbTime" state="0"></td> <!-- 백엔드에서 상태 적어주세요-->
                  <td id="cbTime4" class="OBJcbTime" state="0"></td>
                  <td id="cbTime5" class="OBJcbTime" state="0"></td>
                  <td id="cbTime6" class="OBJcbTime" state="2"></td>
                  <td id="cbTime7" class="OBJcbTime" state="2"></td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-2 col-xs-6 col-xs-offset-3" style="text-align:center;">
        <a class="btn btn-theme" id="reservation_button" onclick="applyReservation();">자리 예약</a>
      </div>
      <div class="col-md-6 col-xs-12">
        <p class="cancel_message">실습실 예약 취소는 <a href="mypage.html">마이페이지</a>로</p>
      </div>
    </div>
  </div>

  <!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
  <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>연락처</h4>
          <div class="hline-w"></div>
          <p><b>회장 </b>윤동주 <a href="tel:01089182291">010-8918-2291</a> yoondj98</p>
          <p><b>부회장 </b>노진주 <a href="tel:01088683785">010-8868-3785</a> estelle3785</p>
          <p><b>부회장 </b>김상엽 <a href="tel:01067084808">010-6708-4808</a> tkdduqkim</p>
        </div>
        <div class="col-md-6">
          <h4>운영시간</h4>
          <div class="hline-w"></div>
          <div class="table">
            <div class="left_table">
              <p>학생회실</p>
              <hr width="80%">
              <dl>
                <dt>OPEN　</dt>
                <dd>10:00</dd>
              </dl>
              <dl>
                <dt>CLOSE　</dt>
                <dd>18:00</dd>
              </dl>
            </div>
            <div class="right_table">
              <p>실습실</p>
              <hr width="80%">
              <dl>
                <dt>OPEN　</dt>
                <dd>10:00</dd>
              </dl>
              <dl>
                <dt>CLOSE　</dt>
                <dd> 8:00</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Solid</strong>. All Rights Reserved
      </p>
      <div class="credits">
        Created with Solid template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>
  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>
  <script src="lib/prettyphoto/js/prettyphoto.js"></script>
  <script src="lib/isotope/isotope.min.js"></script>
  <script src="lib/hover/hoverdir.js"></script>
  <script src="lib/hover/hoverex.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>

</html>