<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>소프트웨어학부 복지사업</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <!-- Font-Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
  <!-- Favicons -->
  <link rel="shortcut icon" href="img/upper-logo.png">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Lato:400,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/prettyphoto/css/prettyphoto.css" rel="stylesheet">
  <link href="lib/hover/hoverex-all.css" rel="stylesheet">

  <!-- Materialize -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- Main Stylesheet File -->
  <link href="css/style_global.css" rel="stylesheet">

  <link href="css/mypage.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: Solid
    Template URL: https://templatemag.com/solid-bootstrap-business-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home.html">SUPPORT.</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="home.html">홈</a></li>
          <li><a href="login.html">로그인</a></li>
          <li><a href="place_reservation.html">실습실 예약</a></li>
          <li class="active"><a href="mypage.html">마이페이지</a></li>

        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>


  <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
  <div id="blue">
    <div class="container">
      <div class="row">
        <h3>마이페이지</h3>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /blue -->
  <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
  <div class="grey darken-1">
    <div class="container">
      <div class="row">
        <h1>회원정보
          <div class="row">
            <br>
            <div class="col">
              <div class="profile"></div>
            </div>
            <div class="col">
              <p>이름 홍길동</p>
              <p>학번 99999999</p>

              <a href="change_pw.html" class="btn btn-theme btn-block">비밀번호 변경</a>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>

          </div>
        </h1>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /blue -->


  <!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

  <div class="container_ nanumfont">
    <div class="row">
      <div class="col-lg-6" id="reservation_state">
        <div class="spacing"></div>
        <h4>실습실 예약 현황</h4>
        <div class="hline"></div>
        <ul class="list-group">
          <li class="nopadding list-group-item list-group-item-success d-flex justify-content-between align-items-center">
            <div class="row">
              <div class="col">
                <span class="badge badge-yellow">4번</span>
              </div>
              <div class="col">
                <span class="badge badge-primary badge-pill">2019-03-14</span>
              </div>
              <div class="col">
                <span class="badge badge-primary badge-pill">10:00~12:00</span>
              </div>
              <div class="col closeButton">
                  <i class="fas fa-times" onclick="if(confirm('정말 실습실 예약을 취소할까요?')){window.location='home.html';}"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-6">
        <div class="spacing"></div>
        <h4>복지사업 대여 현황</h4>
        <div class="hline"></div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
            A4
            <span class="badge badge-primary badge-pill">월 100장</span>
            <span class="badge badge-primary">일 10장</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            우산
            <span class="badge badge-primary badge-pill">2019-03-14</span>
            <span class="badge badge-yellow">1번</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            보조배터리
            <span class="badge badge-primary badge-pill">2019-03-14</span>
            <span class="badge badge-yellow">1번</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            랜선
            <span class="badge badge-primary badge-pill">2019-03-14</span>
            <span class="badge badge-yellow">1번</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            케이블
            <span class="badge badge-primary badge-pill">2019-03-14</span>
            <span class="badge badge-yellow">1번</span>
          </li>
        </ul>

      </div>

    </div>
  </div>



  <!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
  <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>연락처</h4>
          <div class="hline-w"></div>
          <p><b>회장 </b>윤동주 <a href="tel:01089182291">010-8918-2291</a> yoondj98</p>
          <p><b>부회장 </b>노진주 <a href="tel:01088683785">010-8868-3785</a> estelle3785</p>
          <p><b>부회장 </b>김상엽 <a href="tel:01067084808">010-6708-4808</a> tkdduqkim</p>
        </div>
        <div class="col-lg-6">
          <h4>운영시간</h4>
          <div class="hline-w"></div>
          <div class="table">
            <div class="left_table">
              <div class ="row">
              <p>학생회실
                <div class="onoffswitch" id="place1">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled>
                  <label class="onoffswitch-label" for="myonoffswitch"> 
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                  </label>
              </div>
              </p>
              </div>
              <hr width="80%">
              <dl>
                <dt>OPEN </dt>
                <dd>10:00</dd>
              </dl>
              <dl>
                <dt>CLOSE </dt>
                <dd>18:00</dd>
              </dl>
            </div>
            <div class="right_table">
              <div class ="row">
              <p>실습실
                <div class="onoffswitch" id="place1">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled>
                  <label class="onoffswitch-label" for="myonoffswitch"> 
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                  </label>
              </div>
              </p>
            </div>
              <hr width="80%">
              <dl>
                <dt>OPEN </dt>
                <dd>10:00</dd>
              </dl>
              <dl>
                <dt>CLOSE </dt>
                <dd> 8:00</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Solid</strong>. All Rights Reserved
      </p>
      <div class="credits">
        Created with Solid template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>
  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>
  <script src="lib/prettyphoto/js/prettyphoto.js"></script>
  <script src="lib/isotope/isotope.min.js"></script>
  <script src="lib/hover/hoverdir.js"></script>
  <script src="lib/hover/hoverex.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>

</html>