{% extends 'login/layout.html' %}

{% block content %}
    <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>비밀번호 변경</h3>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /blue -->



    <!--Login Form-->

    <div class="container">
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
        <form action="" method="POST">{% csrf_token %}
            <div class="row">
                <!--
                <div class="input-field ">
                    <input id="old_password" type="password" class="validate" required>
                    <label for="user_id">이전 비밀번호</label>
                </div>
                <div class="input-field ">
                    <input id="new_password1" type="password" class="validate" required>
                    <label for="user_id">변경 비밀번호</label>
                </div>
                <div class="input-field ">
                    <input id="new_password2" type="password" class="validate" required>
                    <label for="user_pw">비밀변호 확인</label>
                </div>
                -->
                {{ form.as_p }}
                    <p><input type="submit" class="btn btn-theme btn-block" value = "비밀번호 변경"/>
<!--                <p><a href="{% url "login:main" %}" class="btn btn-theme btn-block">비밀번호 변경</a></p>-->

            </div>
        </form>
    </div>
{% endblock %}


    
{% block copyrights %}
    <div id="copyrights">
        <div class="container">
            <p>
                &copy; Copyrights <strong>Solid</strong>. All Rights Reserved
            </p>
            <div class="credits">
                Created with Solid template by <a href="https://templatemag.com/">TemplateMag</a>
            </div>
        </div>
    </div>
    <!-- / copyrights -->
{% endblock %}
