<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>소프트웨어 복지사업</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "images/upper-logo.png" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
        $(document).ready(function () {
            var main = $('.bxslider').bxSlider({
                mode: 'fade',
                auto: true,
                controls: true,
                autoControls: true,
                pager: true,
                pause: 3000,
                autoDelay: 0,
                slideWidth: 800,
                speed: 500,
                stopAutoOnclick: true
            });

            $(".bx-stop").click(function () {
                main.stopAuto();
                $(".bx-stop").hide();
                $(".bx-start").show();
                return false;
            });

            $(".bx-start").click(function () {
                main.startAuto();
                $(".bx-start").hide();
                $(".bx-stop").show();
                return false;
            });

            $(".bx-start").hide();
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class = "login_section">
                <div class = "small_lgoin">
                    <a href="final_login.html">로그인</a>
                </div>
            </div>
            <div class = "menu_section">             
                <div class="logo">
                <img for="logo" src="{% static "images/header_logo.png" %}" alt="" usemap="#main_logo">
                <map name="main_logo">
                    <area shape="rect" coords="5,5,250,80" href="{% url "login:main" %}" alt="메인메뉴로 가기">
                </map>
            </div>
            <div class="menu_bar">
                <ul>
                    <li><a href="{% url "login:main" %}">홈</a></li>
                    <li><a href="{% url "login:seltable" %}">실습실 예약</a></li>
                    <li><a href="{% url "login:mypage" %}">마이페이지</a></li>
                </ul>
                <!-- <hr width="85%" color="black" 0.5px> -->
                <!-- <div class ="menu_bar_line">
                <img for="menu_bar" src="images/menu_bar.png" alt="">
                </div> -->
            </div>
            {% if user.is_authenticated %}
            <!-- <div class="login_button">
                    <a href="{% url "login:logout" %}"><img for ="logout_button" src="{% static "images/logout.png" %}" alt=""></a>
            </div>
            {% else %} -->
            <!-- <div class="login_button">
                <a href="{% url "login:login" %}">
                    <img for ="login_button" src="{% static "images/login.png" %}" alt=""></a>
            </div>
            {% endif %} -->
        </div>
    </div>
        <div class="section">
            

            <div class="column_left">

                <div id="poster">
                    <div id="font">
                        <h3>포스터</h3>
                    </div>
                    <hr width="95%" color="black">
                    <div class="home_slider">
                        <div class="bxslider">
                                <!-- <div><img src= "media/poster1.jpg" alt="그림1"></div>
                                <div><img src= "media/poster2.jpg" alt="그림2"></div>
                                <div><img src= "media/poster3.jpg" alt="그림3"></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="column_right">
                <div id="lent">
                    <div id="font">
                        <h3>대여현황</h3>
                    </div>
                    <hr width="95%" color="black">
                    <div class="lent_logo">
                        <div class="lent_umbrella">
                            <div class="umbrella"><a href="{% url "login:lendunbrella" %}"><img src="{% static "images/umbrella.png" %}" onmouseover="this.src='{% static "images/umbrella_onmouse.png" %}'"
                                        onmouseout="this.src='{% static "images/umbrella.png" %}'" alt=""></a></div>
                            <div class="umbrella_data"><strong>{{ unbrella_count }} </strong>| {{ unbrella_total }}</div>

                        </div>
                        <div class="lent_lan">
                            <div class="lan"><a href="{% url "login:lendlan" %}"><img src="{% static "images/lan.png" %}" onmouseover="this.src='{% static "images/lan_onmouse.png" %}'"
                                        onmouseout="this.src='{% static "images/lan.png" %}'" alt=""></a></div>
                            <div class="lan_data"><strong>{{ lan_count }} </strong>| {{ lan_total }}</div>

                        </div>
                        <div class="lent_charger">
                            <div class="charger"><a href="{% url "login:lendbattery" %}"><img src="{% static "images/charger.png" %}" onmouseover="this.src='{% static "images/charger_onmouse.png" %}'"
                                        onmouseout="this.src='{% static "images/charger.png" %}'" alt=""></a></div>
                            <div class="charger_data"><strong>{{ battery_count }} </strong>| {{ battery_total }}</div>

                        </div>
                    </div>
                </div>
                <div id="time">
                    <div id="font">
                        <h3>운영시간</h3>
                    </div>
                    <hr width="95%" color="black">
                    <div class="table">
                        <div class="left_table">
                            <p>학생회실</p>
                            <hr width="80%">
                            <dl>
                                <dt>open</dt>
                                <dd>10:00</dd>
                            </dl>
                            <dl>
                                <dt>close</dt>
                                <dd>18:00</dd>
                            </dl>
                        </div>
                        <div class="right_table">
                            <p>실습실</p>
                            <hr width="80%">
                            <dl>
                                <dt>open</dt>
                                <dd>10:00</dd>
                            </dl>
                            <dl>
                                <dt>close</dt>
                                <dd> 18:00</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="left_footer">
                <div class="tel">
                    <p><strong>연락처</strong></p>
                    <p><b>회장 </b>윤동주 010-xxxx-xxxx id</p>
                    <p><b>부회장 </b>노진주 010-xxxx-xxxx id</p>
                    <p><b>부회장 </b>김상엽 010-xxxx-xxxx id</p>
                </div>
            </div>
            <div class="right_footer">
                <p>© 2019 All Rights Reserved.</p>
                <p><b>제작자</b> 김민근, 김 산, 이진우, 변지현, 안종훈, 최민성, 허예은</p>
            </div>
        </div>
    </div>
</body>

</html>