<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>소프트웨어 복지사업</title>
        <link rel="shortcut icon" href="images/upper-logo.png">
        <link rel="stylesheet" href="css/style-login.css">

    </head>
    <body>
        <div class = "container">
            <div class ="logo">
                <a href="main.html">
                {% load staticfiles %}
                <img for="logo" src="{% static "images/header_logo_narrow.png" %}" alt="" >
                </a>
            </div>
            <div class = "login_tab">
                <div class ="real_login">
                <form action="" method="POST">{% csrf_token %}
                        {{ form.as_p }}
                        <li>
                            {% load staticfiles %}
                            <input type = "image" for ="login_button" src="{% static "images/login.png" %}" alt="" id="login_button"></a>
                        </li>
                    </ul>
                </form>
            </div>
        
            </div>
        </div>
    </body>
</html>