{% extends 'login/layout.html' %}
{% load staticfiles %}

{% block header %}

{% if status == 1 %}
    <script>
        alert('올바른 학번을 입력해주세요')
    </script>
{% endif %}
{% if status == 2 %}
    <script>
        alert('올바른 전화번호를 입력해주세요')
    </script>
{% endif %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "login:main" %}">SUPPORT.</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
              <li><a href="{% url "login:main" %}">홈</a></li>
              {% if user.is_authenticated %}
                <li><a href="{% url "login:logout" %}">로그아웃</a></li>
              {% else %}
                <li><a href="{% url "login:login" %}">로그인</a></li>
              {% endif %}
              <li><a href="{% url "login:seltable" %}">실습실 예약</a></li>
              <li><a href="{% url "login:mypage" %}">마이페이지</a></li>
          </ul>
      </div>
      <!--/.nav-collapse -->
  </div>
</div>
{% endblock %}

{% block content %}
    <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>비밀번호 변경</h3>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /blue -->



    <!--Login Form-->

    <div class="container">
        <form action="" method="POST">{% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger"style="margin-top:2.5%; margin-bottom:2.5%;">
                {% for field in form %}
                    {% for error in field.errors %}                        
                            <strong><i class="fas fa-exclamation-circle"></i>　{{ error|escape }}</strong><br>
                        
                    {% endfor %}
                {% endfor %}
                </div>
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong><i class="fas fa-exclamation-circle"></i>　{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
                <div class="row">
                <div class="input-field ">
                        <input type = "text" name = "user_id">
                        <label for="user_id">학번</label>
                </div>
                <div class="input-field ">
                        <input type = "text" name = "tel_num">
                        <label for="tel_num">전화번호</label>
                </div>
                    <p><input type="submit" class="btn btn-theme btn-block" value = "비밀번호 재설정"/>
                    <span><span class="fas fa-exclamation-circle" style="margin-top:5%;"></span>　초기화된 비밀번호는 휴대폰번호 8자리입니다.</span>
            </div>
                
        </form>
    </div>
{% endblock %}


    
{% block copyrights %}
    <div id="copyrights">
        <div class="container">
            <p>
                &copy; Copyrights <strong>Solid</strong>. All Rights Reserved
            </p>
            <div class="credits">
                Created with Solid template by <a href="https://templatemag.com/">TemplateMag</a>
            </div>
        </div>
    </div>
    <!-- / copyrights -->
{% endblock %}
