{% extends 'login/layout.html' %}
{% load staticfiles %}

{% block header %}
{% endblock %}


{% block content %}
  <!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" id="logo_content">
            <span class ="logo_content" ><h3 style="margin-bottom:2%;">언제나, 늘, 당신곁에</h3></span>
            <h1 style="margin-top:-0.1%;" class = "logo_sentence">제4대 소프트웨어학부 학생회 </h1>
            <h1 style="margin-top:-0.25%;" class = "support_font"><span class= "logo">SUPPORT.</span> 입니다.</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="carousel" style="width:100%;">
            {% for post in posts %}
            {% if post.photo %}
              <a id= "carousel-{{ forloop.counter0 }}" class="carousel-item" href="#"><img src="{{ post.photo.url }}"></a>
            {% endif %}
            {% endfor %}
          </div>
      </div>
    </div>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.carousel');
          var instances = M.Carousel.init(elems);
        });
      </script>    
    <!-- /container -->
  </div>
  <!-- /headerwrap -->
  </div>
    
  <!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
  
  
  <div id="service">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-3">
          <i class="fas fa-umbrella fa-5x"></i>
          <h4>우산</h4>
          <p>{{ unbrella_count }}　|　<strong>{{ unbrella_total }}</strong></p> <!-- 수정됨 -->
          <form action="" method="POST">{% csrf_token %}
            <p><button type="submit" name="unbrella" value="True" class="btn btn-theme">대여</button></p> <!-- 수정됨 --> 
          </form>
        </div>
        <div class="col-lg-3">
          <i class="fas fa-battery-full fa-5x"></i>
          <h4>보조배터리</h4>
          <p>{{ battery_count }}　|　<strong>{{ battery_total }}</strong></p> <!-- 수정됨 -->
            <form action="" method="POST">{% csrf_token %}
              <p><button type="submit" name="battery" value="True" class="btn btn-theme">대여</button></p> <!-- 수정됨 --> 
            </form>
          </div>
        <div class="col-lg-3">
          <i class="fas fa-ethernet fa-5x"></i>
          <div class="lan_lent">
            <h4>랜선</h4>
            <p>{{ lan_count }}　|　<strong>{{ lan_total }}</strong></p> <!-- 수정됨 -->
            <form action="" method="POST">{% csrf_token %}
              <p><button type="submit" name="lan" value="True" class="btn btn-theme">대여</button></p> <!-- 수정됨 --> 
            </form>
          </div>
        </div>
        <div class="col-lg-3">
          <i class="fas fa-plug fa-5x"></i>
          <div class="lan_lent">
            <h4>케이블</h4>
            <p>{{ cable_count }}　|　<strong>{{ cable_total }}</strong></p>
            <form action="" method="POST">{% csrf_token %}
                <p><button type="submit" name="cable" value="True" class="btn btn-theme">대여</button></p> <!-- 수정됨 --> 
            </form>   
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************************************************************************
	 PORTFOLIO SECTION
	 ***************************************************************************************************************** -->
  <div id="portfoliowrap">
    <div class="time_now">
      <p>　</p>
      <h3>실습실 현재 예약 현황</h3>
      <div class ="ikc-tablelist-listup ikc-smuf-form">
        <p>
          <span class = "ikc-reserved-status">
            <span class = "ik-reserved-off" style="background:#dddddd; border:1px solid grey;"></span>
            예약 가능
            <span class = "ikc-reserved-inactive"></span>
            예약 불가능
          </span>
        </p>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table" border="0" cellpadding="1" cellspacing="0">
            <thead>
              <th>번호/시간</td>
              <th>　10　</th>
              <th>　11　</th>
              <th>　12　</th>
              <th>　1　</th>
              <th>　2　</th>
              <th>　3　</th>
              <th>　4　</th>
              <th>　5　</th>
            </thead>
            <tbody>
              {% for table in tables %}
                {% if table.start_time == "10" %}
                  <tr>
                      <td>{{ table.number }}</td>  
                  {% endif %}
                  {% if table.is_borrowed %}
                    <td class="occupied"></td>
                  {% else %}
                    <td></td>
                  {% endif %}
                {% if table.start_time == "17" %}
                  </tr>
                {% endif %}
              {% endfor %}
                <!-- 표 하나하나 색깔 바꾸고 싶으면 bgcolor해서 바꾸면 됨! -->
                <!-- style="background-color:rgb(233, 181, 49)" => class="occupied"-->
                <!-- 장고 DB를 받어서 확인하도록 함-->
            </tbody>
          </table>
        </div>
      </div>
    </div>



     <!-- *****************************************************************************************************************
	 건의사항
   ***************************************************************************************************************** -->
  <div class = "container mtb"> 
    <div class = "row">
  <div class = "portfoliowrap" id="wrap"> 
      <div class = "col-12" id="complain_wrap">
        <h4>건의사항</h4>
        <div class = "hline"></div>
        <div class = "col-12">
          <form role="form" action="contactform/contactform.php(수정바람)" method="POST">
            <div class="col-12">
              <textarea class = "form-control btn-block" name="message" id="contact-message" placeholder="건의사항 남기기" row="10" data-rule="required" style="margin-top:2.5%;"></textarea>
              <button type="submit" class="btn btn-theme btn-block" id="complain_button">건의사항 보내기</button>
            </div>
          </form>
      </div>
    </div>
  </div>
  </div>
  </div>

  <!-- *****************************************************************************************************************
  MESSAGE ALERTS
  *******************************************************************************************************************-->
      {% if unbrella_status != 0 %}
        {% if unbrella_status == 1 %}
        <script>
          alert('{{ message_unbrella }}')
        </script>

        {% else %}
          {% if unbrella_status == 2 %}
          <script>
              alert('이미 대여중인 우산이 있습니다')
            </script>
          {% else %}
            {% if unbrella_status == 3 %}
            <script>
                alert('대여가능한 우산이 없습니다')
              </script>
            {% endif %}
          {% endif %}
        {% endif %}
      {% else %}
        {% if battery_status != 0 %}
          {% if battery_status == 1 %}
          <script>
              alert('{{ message_battery }}')
            </script>
          {% else %}
            {% if battery_status == 2 %}
            <script>
                alert('이미 대여중인 배터리가 있습니다')
              </script>
            {% else %}
              {% if battery_status == 3 %}
              <script>
                  alert('대여가능한 배터리가 없습니다')
                </script>
              {% endif %}
            {% endif %}
          {% endif %}
        {% else %}
          {% if lan_status != 0 %}
            {% if lan_status == 1 %}
            <script>
                alert('{{ message_lan }}')
              </script>
            {% else %}
              {% if lan_status == 2 %}
              <script>
                  alert('이미 대여중인 랜선이 있습니다')
                </script>
              {% else %}
                {% if lan_status == 3 %}
                <script>
                    alert('대여가능한 랜선이 없습니다')
                  </script>
                {% endif %}
              {% endif %}
            {% endif %}
            
          {% else %}
            {% if cable_status == 1 %}
            <script>
                alert('{{ message_cable }}')
              </script>
            {% else %}
              {% if cable_status == 2 %}
              <script>
                  alert('이미 대여중인 케이블이 있습니다')
                </script>
              {% else %}
                {% if cable_status == 3 %}
                <script>
                    alert('대여가능한 케이블이 없습니다')
                  </script>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
  
 {% endblock %}

 {% block copyrights %}

    <div id="copyrights">
      <div class="container">
        <p><strong>제작자　|</strong>　김 산　박성철　안종훈　이진우　허예은 </p>
        <p>
          &copy; Copyrights <strong>Solid</strong> All Rights Reserved
        </p>
        <div class="credits">
          Created with Solid template by <a href="https://templatemag.com/">TemplateMag</a>
        </div>
      </div>
    </div>
    <!-- / copyrights -->
  {% endblock %}
