<!DOCTYPE html>
<html lang="ko">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <title>소프트웨어학부 복지사업</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    
    {% block jquery %}
    {% endblock %}
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static "img/upper-logo.png" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Lato:400,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Main Stylesheet File -->
    <link href="{% static "css/style_global.css" %}" rel="stylesheet">
 
    <link href="{% static "css/change_pw.css" %}" rel="stylesheet">
    <link href="{% static "css/checkbox.css" %}" rel="stylesheet">
    <link href="{% static "css/home.css" %}" rel="stylesheet">
    <link href="{% static "css/login.css" %}" rel="stylesheet">
    <link href="{% static "css/login_agreement.css" %}" rel="stylesheet">
    <link href="{% static "css/mypage.css" %}" rel="stylesheet">
    <link href="{% static "css/place_reservation.css" %}" rel="stylesheet">

    {% block header %}
    {% endblock %}

    <!-- =======================================================
    Template Name: Solid
    Template URL: https://templatemag.com/solid-bootstrap-business-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>
<style>

</style>
<body>
    <!-- Fixed navbar -->
    {% block content %}
    {% endblock %}
    <!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
   <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>연락처</h4>
          <div class="hline-w"></div>
          <p><b>회장 </b>윤동주 <a href="tel:01089182291">010-8918-2291</a> yoondj98</p>
          <p><b>부회장 </b>노진주 <a href="tel:01088983785">010-8898-3785</a> estelle3785</p>
          <p><b>부회장 </b>김상엽 <a href="tel:01067084808">010-6708-4808</a> tkdduqkim</p>
        </div>
        <div class="col-lg-6">
          <h4>운영시간</h4>
          <div class="hline-w"></div>
          <div class="table">
            <div class="left_table" style="margin-top:-2.5%;">
              <p>학생회실
                  <div class="onoffswitch" id="place1">
                      {% if manager.is_manager == True %}
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled>
                      {% endif %}
                      {% if manager.is_manager == False %}
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" unchecked disabled>
                      {% endif %}
                      <label class="onoffswitch-label" for="myonoffswitch"> 
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                      </label>
                  </div>
              </p>
              <hr width="80%">
              <dl>
                <dt>OPEN  </dt>
                <dd>10:00</dd>
              </dl>
              <dl>
                <dt>CLOSE  </dt>
                <dd>18:00</dd>
              </dl>
            </div>
            <div class="right_table" style="margin-top:-2.5%;">
                <p>실습실
                    <div class="onoffswitch" id = "place2" >
                      {% if manager.is_manager == True %}
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked disabled>
                      {% endif %}
                      {% if manager.is_manager == False %}
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" unchecked disabled>
                      {% endif %}
                        <label class="onoffswitch-label" for="myonoffswitch"> 
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>  
                </p>
              <hr width="80%">
              <dl>
                <dt>OPEN  </dt>
                <dd>10:00</dd>
              </dl>
              <dl>
                <dt>CLOSE  </dt>
                <dd> 18:00</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="copyrights">
    <div class="container">
      <p><strong>제작자　|</strong>　김 산　박성철　안종훈　허예은 </p>
    </div>
  </div>
  <!-- / copyrights -->

    <!-- JavaScript Libraries -->
    <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</body>
</html>