{% extends 'login/layout.html' %}
{% block header %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "login:main" %}">SUPPORT.</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
              <li><a href="{% url "login:main" %}">홈</a></li>
              {% if user.is_authenticated %}
                <li><a href="{% url "login:logout" %}">로그아웃</a></li>
              {% else %}
                <li class ="active"><a href="{% url "login:login" %}">로그인</a></li>
              {% endif %}
              <li><a href="{% url "login:seltable" %}">실습실 예약</a></li>
              <li><a href="{% url "login:mypage" %}">마이페이지</a></li>
          </ul>
      </div>
      <!--/.nav-collapse -->
  </div>
</div>
{% endblock %}

{% block content %}
  <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
  <div id="blue">
    <div class="container">
      <div class="row">
        <h3>이용 약관 동의 및 초기 비밀번호 변경</h3>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /blue -->
<script>
  alert('서비스 이용을 위해서는 비밀번호를 변경해주세요')
</script>


  <!--Login Form-->

  <div class="container">
    <textarea name="agreement" cols="60" rows="5" disabled style="margin-top:5%; height:250px;">
          
          개인 정보 수집 및 이용 동의서 (제3자 제공 동의)

          - 개인 정보 수집 동의

              1. 수집하는 개인 정보의 항목
              첫째, 숭실대학교 제4대 소프트웨어학부 학생회, Support는 각종 서비스의 제공을 위해 아래와 같은 최소한의 개인 정보를 수집하고 있습니다. 
              - 수집항목(필수): 이름, 학번, 생년월일
              둘째, 시스템 이용과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. 
              - 복지사업 대여 일시
          
              2. 개인 정보 수집방법
              숭실대학교 제4대 소프트웨어학부 학생회, Support는 다음과 같은 방법으로 개인 정보를 수집합니다. 
              - 숭실대학교 소프트웨어학부 학생회비를 납부한 재학생의 정보 수정이 허가된 학생회 임원의 직접 입력을 통한 시스템 등록
          
              3. 개인 정보의 수집 및 이용 목적
            개인 정보의 수집은 아래와 같은 목적을 위하여 수집하며 이외의 목적으로는 사용되지 않습니다. 
              - 재학생/휴학생 여부 판단
              - 학생회비 납부 여부
              - 학생 아이디 설정
              - 초기 비밀번호 설정
          
              4. 개인 정보의 보유 및 이용 기간
            저장된 개인 정보는 원칙적으로 개인 정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 
              - 동의를 거부할 수 있으며, 동의에 거부 시에는 제공되는 서비스가 제한될 수 있으나 그에 대한 불이익은 없습니다. 
          - 개인 정보 제3자 제공 안내
            숭실대학교 제4대 소프트웨어학부 학생회, Support는 서비스 향상을 위해 아래와 같이 개인 정보를 제공하고 있으며, 개인 정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있습니다. 
              - 제공받는 자: 숭실대학교 제4대 소프트웨어학부 학생회, Support
              - 제공받는 자의 개인 정보 이용 목적: 숭실대학교 소프트웨어학부가 진행하고 있는 복지사업 관리
              - 제공하는 개인 정보 항목(필수): 이름, 학번, 생년월일
            개인 정보의 보유 및 이용 기간: 학생회비를 납부하지 않을 시 혹은 휴학을 했을 시
          
    </textarea>

    <form action="" method="POST">{% csrf_token %}
      <div class="">
        <p>
          <label>
            <input type="checkbox" class="filled-in" required>
            <span>개인 정보 수집 및 이용 약관에 동의하겠습니다.</span>
          </label>
        </p>
      </div>

        {% if form.errors %}
        <div class="alert alert-danger"style="margin-top:2.5%; margin-bottom:2.5%;">
        <strong><i class="fas fa-exclamation-circle"></i>영문과 숫자를 포함한 8자리 이상 새 비밀번호를 설정해주세요</strong><br>
        {% for field in form %}
            {% for error in field.errors %}                        
                    <strong><i class="fas fa-exclamation-circle"></i>　{{ error|escape }}</strong><br>
                
            {% endfor %}
        {% endfor %}
        </div>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong><i class="fas fa-exclamation-circle"></i>　{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% else %}
          <div class="alert alert-danger"style="margin-top:2.5%; margin-bottom:2.5%;">
          <strong><i class="fas fa-exclamation-circle"></i>　영문과 숫자를 포함한 8자리 이상 새 비밀번호를 설정해주세요</strong><br>  
          </div>
      {% endif %}
    
    <div class="row">
        <div class="input-field ">
                {{ form.old_password }}
                <label for="user_id">현재 비밀번호</label>
        </div>
        <div class="input-field ">
                {{ form.new_password1 }}
                <label for="user_id">변경 비밀번호</label>
        </div>
            <div class="input-field ">
                {{ form.new_password2 }}
                <label for="user_pw">비밀번호 확인</label>
        </div>
    
            <p><input type="submit" class="btn btn-theme btn-block" value = "비밀번호 변경"/>

    </div>
</form>
</div>
{% endblock %}

{% block copyrights %}
  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Solid</strong>. All Rights Reserved
      </p>
      <div class="credits">
        Created with Solid template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>
  <!-- / copyrights -->
{% endblock %}
