<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>소프트웨어 복지사업</title>
  {% load staticfiles %}
  <link rel="shortcut icon" href="{% static "images/upper-logo.png" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="{% static "css/style-mypage.css" %}" type="text/css">
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <img for="logo" src="{% static "images/header_logo.png" %}" alt="" usemap="#main_logo">
        <map name="main_logo">
          <area shape="rect" coords="5,5,250,80" href="{% url "login:main" %}" alt="메인메뉴로 가기">
        </map>
      </div>
      {% if user.is_authenticated %}
        <div class="login_button">
          <a href="/login/logout"><img for ="logout_button" src="{% static "images/logout.png" %}" alt=""></a>
        </div>
      {% else %}
        <div class="login_button">
          <a href="/login/login">
            <img for ="login_button" src="{% static "images/login.png" %}" alt=""></a>
        </div>
      {% endif %}
    </div>

    <div class="section">
      <div class="menu_bar">
        <ul>
          <li><a href="{% url "login:main" %}">홈</a></li>
          <li><a href="/login/reservation">실습실 예약</a></li>
          <li><a href="{% url "login:mypage" %}">마이페이지</a></li>
        </ul>
      </div>
      <div class="mypage_section">
        <div class="my_profile">
          <div class="mypage_name">
            <h3>학생 이름 : {{ user.last_name }}{{ user.first_name }}</h3>
            <h4>학번 : {{ user.username }}</h4>
          </div>
        </div>
        <div class="mypage_table">
          <div class="mypage_font" id="font">
            <h3>나의 대여목록</h3>
          </div>
          <hr width="95%" color="black">
          <table id="font" style="margin-left: auto; margin-right: auto;">
            <tr>
              <th>우산</th>             
              {% if user.user_data.unbrella %}
                <td>{{ user.user_data.unbrella.number }}번 우산 대여중</td>
              {% else %}
                <td>대여가능</td>
              {% endif %}
              <td>반납예정일자</td>
            </tr>
            <tr>
              <th>보조배터리</th>
              {% if user.user_data.battery %}
                <td>{{ user.user_data.battery.number }}번 배터리 대여중</td>
              {% else %}
                <td>대여가능</td>
              {% endif %}
              <td>반납예정일자</td>
            </tr>
            <tr>
              <th>A4</th>
              <td>당일대여매수 : {{ user.user_data.today_A4 }}</td>
              <td>당월대여매수 : {{ user.user_data.month_A4 }}</td>
            </tr>
            <tr>
              <th>랜선</th>
              {% if user.user_data.lan %}
                <td>{{ user.user_data.lan.number }}번 랜선 대여중</td>
              {% else %}
                <td>대여가능</td>
              {% endif %}
              <td>반납예정일자</td>
            </tr>
            <tr>
              <th>실습실</th>
              <td>
                <select size="1" id="class" style="height:30px">
                  <option value="time1" selected>대여시간1</option>
                  <option value="time2">대여시간2</option>
                  <option value="time3">대여시간3</option>
                  <option value="time4">대여시간4</option>
                </select></td>
              <td><input type="submit" name="예약취소" value="예약취소"></td>
            </tr>
            <tr>
          </table>
        </div>
      </div>
    </div>


    <div class="footer">
      <div class="left_footer">
        <div class="tel">
          <p><strong>연락처</strong></p>
          <p><b>회장 </b>윤동주 010-xxxx-xxxx id</p>
          <p><b>부회장 </b>노진주 010-xxxx-xxxx id</p>
          <p><b>부회장 </b>김상엽 010-xxxx-xxxx id</p>
        </div>
      </div>
      <div class="right_footer">
        <p>　</p>
        <p>　</p>
        <p>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　© 2019 All Rights Reserved.</p>
        <p>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　<b>제작자</b> 김민근, 김 산, 이진우, 변지현, 안종훈, 최민성, 허예은</p>
      </div>
    </div>
  </div>
</body>

</html>