{% extends 'login/layout.html' %}

{% block header %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "login:main" %}">SUPPORT.</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
              <li><a href="{% url "login:main" %}">홈</a></li>
              {% if user.is_authenticated %}
                <li><a href="{% url "login:logout" %}">로그아웃</a></li>
              {% else %}
                <li><a href="{% url "login:login" %}">로그인</a></li>
              {% endif %}
              <li><a href="{% url "login:seltable" %}">실습실 예약</a></li>
              <li class ="active"><a href="{% url "login:mypage" %}">마이페이지</a></li>
          </ul>
      </div>
      <!--/.nav-collapse -->
  </div>
</div>
{% endblock %}


{% block content %}
<meta content="{{ csrf_token }}" name="csrf_token">
<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
   <div id="blue">
      <div class="container">
        <div class="row">
          <h3>마이페이지</h3>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /blue -->
    <!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
    <div class="grey darken-1">
      <div class="container">
        <div class="row">
          <h1>회원정보
            <div class="row">
              <br>
              <div class="col">
                <div class="profile"></div>
              </div>
              <div class="col">
                <p>{{ user.first_name }}</p>
                <p>{{ user.last_name }}</p>
  
                <a href="/password_change/" class="btn btn-theme btn-block">비밀번호 변경</a>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
  
            </div>
          </h1>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /blue -->
  
  
    <!-- *****************************************************************************************************************
     TITLE & CONTENT
     ***************************************************************************************************************** -->
  
    <div class="container_ nanumfont">
      <div class="row">
        <div class="col-lg-6" id="reservation_state">
          <div class="spacing"></div>
          <h4>실습실 예약 현황</h4>
          <div class="hline"></div>
          <ul class="list-group">
            {% for time in times %}
            <li class="nopadding list-group-item list-group-item-success d-flex justify-content-between align-items-center">
              <div class="row">
                <div class="col">
                  <span class="badge badge-yellow">{{ time.number }}번</span>
                </div>
                <div class="col">
                  <span class="badge badge-primary badge-pill">2019-03-14</span>
                </div>
                <div class="col">
                  <span class="badge badge-primary badge-pill">{{ time.start_time }}:00~{{ time.start_time|add:1 }}:00</span>
                </div>
                <div class="col closeButton">
                    <i class="fas fa-times" onclick="if(confirm('정말 실습실 예약을 취소할까요?')){cancelReservation({{ time.start_time }})}"></i>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
  
        <div class="col-lg-6">
          <div class="spacing"></div>
          <h4>복지사업 대여 현황</h4>
          <div class="hline"></div>
          <ul class="list-group">
            <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
              A4
              <span class="badge badge-primary badge-pill">월 {{ user.user_data.month_A4 }}/500장</span>
              <span class="badge badge-primary">일 {{ user.user_data.today_A4 }}/50장</span>
            </li>
            {% if unbrella_status == 1 %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                  우산
                  <span class="badge badge-primary badge-pill">{{ unbrella_time }}시간 남음</span>
                  <span class="badge badge-yellow">{{ user.user_data.un.number }}번</span>
                  <span class="badge badge-reserved">대여 중</span>
              </li>
            {% endif %}
            {% if unbrella_status == 2 %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                우산
                <span class="badge badge-red">{{ unbrella_time }}일 연체</span>
                <span class="badge badge-yellow">{{ user.user_data.un.number }}번</span>
                <span class="badge badge-red">연체 중</span>
              </li>
            {% endif %}
            {% if unbrella_status == 3 %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                우산
                <span class="badge badge-primary badge-pill">{{ unbrella_time }}분 남음</span>
                <span class="badge badge-yellow">{{ user.user_data.un.number }}번</span>
                <span class="badge badge-wait">예약 중</span>
              </li>
            {% endif %}

            {% if battery_status == 1 %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                보조배터리
                <span class="badge badge-primary badge-pill">{{ battery_time }}시간 남음</span>
                <span class="badge badge-yellow">{{ user.user_data.ba.number }}번</span>
                <span class="badge badge-reserved">대여 중</span>
              </li>
            {% endif %}
            {% if battery_status == 2 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                보조배터리
                <span class="badge badge-red">{{ battery_time }}일 연체</span>
                <span class="badge badge-yellow">{{ user.user_data.ba.number }}번</span>
                <span class="badge badge-red">연체 중</span>
              </li>
            {% endif %}
            {% if battery_status == 3 %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                보조배터리
                <span class="badge badge-primary badge-pill">{{ battery_time }}분 남음</span>
                <span class="badge badge-yellow">{{ user.user_data.ba.number }}번</span>
                <span class="badge badge-wait">예약 중</span>
              </li>
            {% endif %}


            {% if lan_status == 1 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                랜선
                <span class="badge badge-primary badge-pill">{{ lan_time }}시간 남음</span>
                <span class="badge badge-yellow">{{ user.user_data.la.number }}번</span>
                <span class="badge badge-reserved">대여 중</span>
            </li>                
            {% endif %}
            {% if lan_status == 2 %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                랜선
                <span class="badge badge-red">{{ lan_time }}일 연체</span>
                <span class="badge badge-yellow">{{ user.user_data.la.number }}번</span>
                <span class="badge badge-red">연체 중</span>
              </li>
            {% endif %}
            {% if lan_status == 3 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                랜선
              <span class="badge badge-primary badge-pill">{{ lan_time }}분 남음</span>
              <span class="badge badge-yellow">{{ user.user_data.la.number }}번</span>
              <span class="badge badge-wait">예약 중</span>
            </li>
            {% endif %}


            {% if cable_status == 1 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                케이블
                <span class="badge badge-primary badge-pill">{{ cable_time }}시간 남음</span>
                <span class="badge badge-yellow">{{ user.user_data.ca.number }}번</span>
                <span class="badge badge-reserved">대여 중</span>
            </li>                
            {% endif %}
            {% if cable_status == 2 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                케이블
                <span class="badge badge-red">{{ cable_time }}일 연체</span>
                <span class="badge badge-yellow">{{ user.user_data.ca.number }}번</span>
                <span class="badge badge-red">연체 중</span>
              </li>
            {% endif %}
            {% if cable_status == 3 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                케이블
              <span class="badge badge-primary badge-pill">{{ cable_time }}분 남음</span>
              <span class="badge badge-yellow">{{ user.user_data.ca.number }}번</span>
              <span class="badge badge-wait">예약 중</span>
            </li>
            {% endif %}
          </ul>
  
        </div>
  
      </div>
    </div>
  
    <script>
      function cancelReservation(time) {
      
      if (window.XMLHttpRequest)
              xmlhttp = new XMLHttpRequest();
          xmlhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
                location.reload();
              }
          };
          xmlhttp.open("POST","/mypage/");
          xmlhttp.setRequestHeader("X-CSRFToken",document.getElementsByName("csrf_token")[0].getAttribute("content"));
          xmlhttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
          xmlhttp.send("cancel="+time);
      }
    </script>

  {% endblock %}


