{% extends 'login/layout.html' %}

{% block content %}
    <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>비밀번호 변경</h3>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /blue -->



    <!--Login Form-->

    <div class="container">
        <div class="row">
        <!--<span class ="logo_content" ><h3 style="margin-bottom:2%;">언제나, 늘, 당신곁에</h3></span>-->
                <div class="alert alert-success" role="alert">
                    <span><h3 text-align="center">비밀번호가 변경되었습니다.</h3></span>
                </div>
                <p><a type="button" href="{% url "login:main" %}" class="btn btn-theme btn-block" value="메인으로">메인으로</a></p>
                
<!--                
{{ form.as_p }}
                    <p><input type="submit" class="btn btn-theme btn-block" value = "비밀번호 변경"/>
                    <p><a href="{% url "login:main" %}" class="btn btn-theme btn-block">비밀번호 변경</a></p>-->

        </div>
    </div>
{% endblock %}


    
{% block copyrights %}
    <div id="copyrights">
        <div class="container">
            <p>
                &copy; Copyrights <strong>Solid</strong>. All Rights Reserved
            </p>
            <div class="credits">
                Created with Solid template by <a href="https://templatemag.com/">TemplateMag</a>
            </div>
        </div>
    </div>
    <!-- / copyrights -->
{% endblock %}
