{% extends 'login/layout.html' %}
{% block jquery %}
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
{% block header %}
  <!-- Checkbox Css-->
  <link rel="stylesheet" type="text/css" href="css/checkbox.css">

  <script>
    //2개만 체크되게 하기
    // 체크 박스 이름 수정해주세요!
    // 시간 체크 부분 원래 어떻게 생겼었는지 기억이 안나서 직접 안만들고 스크립트만 남겨놔요
    var timecnt = 0;
    $('체크박스이름').on('click', function () {
      if (this.checked == true) {
        timecnt++;
      }
      if (timecnt > 4) {
        alert("최대 2시간까지 예약 가능합니다.");
        return false;
      }
    })
  </script>
{% endblock %}

{% block content %}
  <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
  <div id="blue">
    <div class="container">
      <div class="row">
        <h3>실습실 예약</h3>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /blue -->

  <div class="container mtb">
    <div class="time_check">
      <select id="class">
        <option value="monday" selected>2019-03-10</option>
        <option value="tuesday">2019-03-11</option>
        <option value="wednesday">2019-03-12</option>
        <option value="thursday">2019-03-13</option>
        <option value="friday">2019-03-14</option>
      </select>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-12">
        <h1>자리배치도</h1>
        <div class="hline"></div>
        <div class="table_container">
          {% load staticfiles %}
          <div class="upper_table">
            <div id="table_set" class="table_set1">
              <div id="reg" class="table1">
                <a href="#"><img id="table1" src="{% static 'img/desk1.png' %}" onmouseover="this.src='{% static 'img/desk1_onmouse.png' %}'"
                    onmouseout="this.src='{% static 'img/desk1.png' %}'"></a>
              </div>
              <div id="reg" class="table2">
                <a href="#"><img id="table2" src="{% static 'img/desk2.png' %}" onmouseover="this.src='{% static 'img/desk2_onmouse.png' %}'"
                    onmouseout="this.src='{% static 'img/desk2.png' %}'"></a>
              </div>
            </div>
            <div id="table_set" class="table_set2">
              <div id="reg" class="table3">
                <a href="#"><img id="table3" src="{% static 'img/desk3.png' %}" onmouseover="this.src='{% static 'img/desk3_onmouse.png' %}'"
                    onmouseout="this.src='{% static 'img/desk3.png' %}'"></a>
              </div>
              <div id="reg" class="table4">
                <a href="#"><img id="table4" src="{% static "img/desk4.png" %}" onmouseover="this.src='{% static 'img/desk4_onmouse.png' %}'"
                    onmouseout="this.src='{% static 'img/desk4.png' %}'"></a>
              </div>
            </div>
            <div id="table_set" class="table_set3">
              <div id="reg" class="table5">
                <a href="#"><img id="table3" src="{% static "img/desk5.png" %}" onmouseover="this.src='{% static 'img/desk5_onmouse.png' %}'"
                    onmouseout="this.src='{% static 'img/desk5.png' %}'"></a>
              </div>
              <div id="reg" class="table6">
                <a href="#"><img id="table3" src="{% static "img/desk6.png" %}" onmouseover="this.src='{% static 'img/desk6_onmouse.png' %}'"
                    onmouseout="this.src='{% static 'img/desk6.png' %}'"></a>
              </div>
            </div>
          </div>
          <div class="lower_table">
            <div id="table_set" class="table_set4">
              <div id="reg" class="table7">
                <a href="#"><img id="table7" src="{% static "img/desk7.png" %}" onmouseover="this.src='{% static 'img/desk7_onmouse.png' %}'"
                    onmouseout="this.src='{% static "img/desk7.png" %}'"></a>
              </div>
              <div id="reg" class="table8">
                <a href="#"><img id="table8" src="{% static "img/desk8.png" %}" onmouseover="this.src='{% static 'img/desk8_onmouse.png' %}'"
                    onmouseout="this.src='{% static "img/desk8.png" %}'"></a>
              </div>
            </div>

            <div id="table_set" class="table_set5">
              <div id="reg" class="table9">
                <a href="#"><img id="table9" src="{% static "img/desk9.png" %}" onmouseover="this.src='{% static 'img/desk9_onmouse.png' %}'"
                    onmouseout="this.src='{% static "img/desk9.png" %}'"></a>
              </div>
            </div>
            <div id="reg" class="table10">
              <a href="#"><img id="table10" src="{% static "img/desk10.png" %}" onmouseover="this.src='{% static 'img/desk10_onmouse.png' %}'""
                  onmouseout="this.src='{% static "img/desk10.png" %}'"></a>
            </div>
            <div class="door">
              <p>D O O R</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h1>예약 가능 시간</h1>
        <div class="hline"></div>
        <div class="place_time_check">
          <div class="ikc-tablelist-listup ikc-smuf-form">
            <p>
              <span class="ikc-reserved-status" style="margin-bottom:2.5%;">
                <span class="ik-reserved-off" style="background:#ffffff; border:1px solid grey;"></span>
                예약 가능
                <span class="ikc-reserved-inactive"></span>
                예약 불가능
              </span>
            </p>
          </div>
          <form action="" method="POST">
            <table class="table" cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <th style="width:11%;">10</th>
                  <th style="width:11%;">11</th>
                  <th style="width:11%;">12</th>
                  <th style="width:11%;">1</th>
                  <th style="width:11%;">2</th>
                  <th style="width:11%;">3</th>
                  <th style="width:11%;">4</th>
                  <th style="width:11%;">5</th>
                  <th style="width:11%;">6</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="height:30px;padding: 0;"><input class="styled-checkbox" type="checkbox" checked="false"
                      style=""></td>
                  <td style="height:30px;padding: 0;"><input class="styled-checkbox" type="checkbox" checked="false"
                      style=""></td>
                  <td style="height:30px;padding: 0;"><input class="styled-checkbox" type="checkbox" checked="false"
                      style=""></td>
                  <td style="height:30px;padding: 0;"><input class="styled-checkbox" type="checkbox" checked="false"
                      style=""></td>
                  <td style="height:30px;padding: 0;"><input class="styled-checkbox" type="checkbox" checked="false"
                      style=""></td>
                  <td style="height:30px;padding: 0;"><input class="styled-checkbox" type="checkbox" checked="false"
                      style=""></td>
                  <td style="height:30px;padding: 0;"><input class="styled-checkbox" type="checkbox" checked="false"
                      style=""></td>
                  <td style="height:30px;padding: 0;"><input class="styled-checkbox" type="checkbox" checked="false"
                      style=""></td>
                  <td style="height:30px;padding: 0;"><input class="styled-checkbox" type="checkbox" checked="false"
                      style=""></td>
                </tr>
              </tbody>
            </table>
          </form>

        </div>
        <a class="btn btn-theme" id="reservation_button" style="margin-top:0.5%;">자리 예약</a>

        <div class="row">
          <div class="col-lg-12" style="width:100%">
            <p class="cancel_message">실습실 예약 취소는 <a href="{% url "login:mypage" %}">마이페이지</a>로</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% endblock %}

{% block copyrights %}
  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Solid</strong>. All Rights Reserved
      </p>
      <div class="credits">
        Created with Solid template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>
  <!-- / copyrights -->
{% endblock %}
