<p>Time For Jong</p>

{% for item in times %}
<p>Time A</p>
<ol>
    <li>{{ item.timea }}</li>
    <li> {{ item.timea.hour }}시 </li>
    <li> {{ item.timea.minute }}분 </li>
    <li> {{ item.timea.second }}초 </li>    
</ol>

<p>Time B</p>
<ol>
    <li>{{ item.timeb }}</li>
    <li> {{ item.timeb.hour }}시 </li>
    <li> {{ item.timeb.minute }}분 </li>
    <li> {{ item.timeb.second }}초 </li>    
</ol>

<p>Time comparision</p>
{% endfor %}

<form action="/jong/" method="POST" onsubmit="_submit(this);">{% csrf_token %}
    <textarea name = "updated_text" id="updated_text"></textarea>
    <input type="radio" name="is_anonymous" value="True" checked="checked">익명
    <input type="radio" name="is_anonymous" value="False">실명
    <input type='submit'>
</form>