.ikc-reserved-status{
    margin-bottom:2.5%;
}

.place_time_check table th{
    width:11%;
}

.place_time_check table td{
    height:30px;
    padding: 0;
}

#reservation_button{
    margin-top:0.5%;
}

.OBJcbTime[state="-1"]{
    background-color:rgb(233, 181, 49);
}

.OBJcbTime[state="0"]{
    background-color:rgb(255, 255, 255);
}

.OBJcbTime[state="1"]{
    background-color:#00b3fe;
}

.OBJcbTime[state="2"]{
    background-color:rgb(233, 181, 49);
}

.ikc-reserved-active{
	background-color: #00b3fe;
	color:#00b3fe;
}

#off{
    background-color: #fff;
	color:#fff;
}