@media screen and (min-width:996px){
    .my_profile{
        width:100%;
        height:100px;
        margin-top:-3%;
        margin-bottom:3%;
        border:1px solid #999;
    }
    .mypage_name{
        margin-left:25%;
    }
    .mypage_font{
        padding-bottom:1%;
    }
      #font{
          font-family:NanumGothic;
          margin-bottom:-2%;
          margin-left:2.5%;
      }

      table {
        width: 70%;
        border-top: 1px solid #ffffff;
        border-collapse: border;
        margin-top:5%;
      }
      th, td {
        border-bottom: 1px solid #ffffff;
        padding: 10px;
        text-align: center;
      }
      th {
        background:#e3e7ec;
        color:#444;
      }
      td {
        background:rgb(245,245,245);
      }

    table {
        width: 50%;
        border-top: 2px solid #ffffff;
        border-collapse: border;
      }
      .footer{
        margin:0 auto;
        width:100%;
        height:110px;
        margin-top:45%;
        margin-left:-0.6%;
        text-align:left;
        zoom:1;
        background:rgb(121,108,94);
        font-family:나눔고딕;
        position: absolute;
        color:#fff;
    }
    .left_footer{
        margin-top:0.2%;
        margin-left:3%;
        float:left;
        width:450px;
        font-size:11px;
    }
    .right_footer{
        margin-left:50%;
        float:right;
        font-size:11px;
        position:absolute;
    }
}