<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>소프트웨어 복지사업</title>
    <link rel="shortcut icon" href="images/upper-logo.png">
    <link rel="stylesheet" href="css/style-login.css">

</head>

<body>
    <div class="container">
        <div class="logo">
            <a href="main.html">
                <img for="logo" src="images/header_logo_narrow.png" alt="">
            </a>
        </div>
        <div class="login_tab">
            <div class="real_login">
                <form action="login.php" method="post">
                    <ul>
                        <li>
                            <label for="id">아이디</label>
                            <input type="text" id="id">
                        </li>
                        <li>
                            <label for="pw">비밀번호</label>
                            <input type="password" id="pw">
                        </li>
                        <li>
                            <a href="login.html">
                                <img for="login_button" src="images/login.png" alt="" id="login_button"></a> 　　　　　　
                        </li>
                    </ul>
                </form>
            </div>
            <div class="footer">
                <p><strong>제작자</strong> 김민근, 김 산, 이진우, 변지현, 안종훈, 최민성, 허예은</p>
            </div>
        </div>
    </div>
</body>

</html>